/* Chat container styles */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 8px; /* Add border-radius for a card-like appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
 
}

/* Chat icon styles */
.chat-icon {
  margin-left: 100px;
  cursor: pointer;
}

/* Offcanvas styles */
.offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.offcanvas-body {
  max-height: 500px;
  width: 400px;
  overflow-y: auto;
  border-radius: 8px; /* Add border-radius for a card-like appearance */
  border: 2px solid blue;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.offcanvas-body::-webkit-scrollbar {
  width: 12px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  border: 2px solid black; /* Add color to the scrollbar border */
}

.offcanvas-body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Scrollbar styles for Firefox */
.offcanvas-body {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

/* Message list styles */
.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Message item styles for long messages */
.message-item {
  white-space: pre-wrap; /* Wrap long lines to avoid overflow */
  max-width: 70%; /* Limit the maximum width of the message */
  word-break: break-word; /* Break words if they exceed the container width */
  overflow-wrap: break-word; /* Break words when needed */
}

/* Adjust form styles */
.message-form {
  display: flex;
  flex-direction: column; /* Display form items in a column */
  margin-top: 10px;
}

/* Adjust message input styles */
.message-input {
  flex: 1;
  padding: 8px;
  margin-bottom: 8px; /* Add margin at the bottom to separate input and submit button */
  border: 1px solid blue;
  border-radius: 4px;
  overflow-y: auto; /* Add vertical scroll for long messages in the input */
  width: 350px;
}

/* Adjust message submit button styles */
.message-submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.message-submit:hover {
  background-color: #45a049;
}
